Repository whispr-messenger/infrastructure, changes with the labels that .github/labeler.yml gives for each.
All labels: terraform, provider, module, output, kubernetes, argocd, gcp, istio, cert-manager, microservices, infrastructure, cloud, automation, docker, yaml, script, setup, project, security, application

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically applies labels based on changed files

# Terraform related files
terraform:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.tf'
      - '**/*.tfvars'
      - '**/*.tfstate'

# Terraform providers
provider:
  - changed-files:
    - any-glob-to-any-file:
      - '**/providers.tf'
      - '**/terraform.tf'

# Terraform modules
module:
  - changed-files:
    - any-glob-to-any-file:
      - 'terraform/modules/**/*'

# Terraform outputs
output:
  - changed-files:
    - any-glob-to-any-file:
      - '**/outputs.tf'

# Kubernetes related files
kubernetes:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.yaml'
      - '**/*.yml'
      - 'terraform/2-kubernetes-bootstrap/**/*'

# ArgoCD related files
argocd:
  - changed-files:
    - any-glob-to-any-file:
      - 'argocd/**/*'

# Google Cloud Platform
gcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'terraform/1-gcp-infrastructure/**/*'
      - 'terraform/modules/google_kubernetes_engine/**/*'
      - 'scripts/setup-gcp-project.sh'

# Istio service mesh
istio:
  - changed-files:
    - any-glob-to-any-file:
      - 'argocd/applications/istio.yaml'
      - 'argocd/applications/istio-gateway.yaml'
      - 'argocd/infrastructure/argocd-config/argocd-gateway.yaml'
      - 'argocd/infrastructure/argocd-config/argocd-virtualservice.yaml'

# Cert-Manager
cert-manager:
  - changed-files:
    - any-glob-to-any-file:
      - 'argocd/applications/cert-manager.yaml'
      - 'argocd/infrastructure/cert-manager/**/*'
      - 'argocd/infrastructure/argocd-config/argocd-certificate.yaml'
      - 'argocd/infrastructure/argocd-config/cluster-issuer.yaml'

# Microservices
microservices:
  - changed-files:
    - any-glob-to-any-file:
      - 'argocd/applications/whispr-microservices.yaml'
      - 'argocd/microservices/**/*'

# Infrastructure
infrastructure:
  - changed-files:
    - any-glob-to-any-file:
      - 'argocd/infrastructure/**/*'
      - 'terraform/**/*'

# Cloud topics
cloud:
  - changed-files:
    - any-glob-to-any-file:
      - 'terraform/1-gcp-infrastructure/**/*'
      - 'terraform/modules/google_kubernetes_engine/**/*'

# Automation & CI/CD
automation:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - 'scripts/**/*'
      - 'Justfile'

# Docker & containers
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'docker/**/*'
      - '**/Dockerfile*'
      - '**/*docker*'

# YAML configuration
yaml:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.yaml'
      - '**/*.yml'

# Shell or automation scripts
script:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**/*'
      - '**/*.sh'
      - 'Justfile'

# Setup & bootstrap
setup:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/setup-gcp-project.sh'
      - 'argocd/root.yaml'

# Project management
project:
  - changed-files:
    - any-glob-to-any-file:
      - 'README.md'
      - '**/*.md'
      - 'Justfile'

# Security & certificates
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'argocd/infrastructure/argocd-config/argocd-certificate.yaml'
      - 'argocd/infrastructure/argocd-config/cluster-issuer.yaml'
      - 'argocd/applications/cert-manager.yaml'
      - 'argocd/infrastructure/cert-manager/**/*'

# K8s applications
application:
  - changed-files:
    - any-glob-to-any-file:
      - 'argocd/applications/**/*'

Feat: cert to whispr.app and Nginx to istio ingress in TLS
  argocd/infrastructure/istio/gateway/certificate.yaml
  argocd/infrastructure/istio/gateway/values.yaml
  argocd/infrastructure/istio/istio-ingress.yaml
  argocd/microservices/app-a.yaml
  argocd/microservices/app-b.yaml
  argocd/microservices/gateway.yaml
Labels: kubernetes, argocd, microservices, infrastructure, yaml

Feat: cert to whispr.app and Nginx to istio ingress in TLS
  argocd/infrastructure/istio/gateway/certificate.yaml
  argocd/infrastructure/istio/gateway/values.yaml
  argocd/infrastructure/istio/istio-ingress.yaml
  argocd/microservices/app-a.yaml
  argocd/microservices/app-b.yaml
  argocd/microservices/gateway.yaml
Labels: kubernetes, argocd, microservices, infrastructure, yaml

Fix: domain name
  argocd/infrastructure/istio/gateway/certificate.yaml
  argocd/infrastructure/istio/istio-ingress.yaml
  argocd/microservices/gateway.yaml
Labels: kubernetes, argocd, microservices, infrastructure, yaml

Fix: domain name
  argocd/infrastructure/istio/gateway/certificate.yaml
  argocd/infrastructure/istio/istio-ingress.yaml
  argocd/microservices/gateway.yaml
Labels: kubernetes, argocd, microservices, infrastructure, yaml

🔥 remove(terraform): delete obsolete workspace directories
  google_kubernetes_engine/.terraform.lock.hcl
  google_kubernetes_engine/main.tf
  google_kubernetes_engine/outputs.tf
  google_kubernetes_engine/terraform.tf
  google_kubernetes_engine/variables.tf
  kubernetes_cluster/.terraform.lock.hcl
  kubernetes_cluster/main.tf
  kubernetes_cluster/outputs.tf
  kubernetes_cluster/providers.tf
  kubernetes_cluster/terraform.tf
Labels: terraform, provider, output

🔥 remove(terraform): delete obsolete workspace directories
  google_kubernetes_engine/.terraform.lock.hcl
  google_kubernetes_engine/main.tf
  google_kubernetes_engine/outputs.tf
  google_kubernetes_engine/terraform.tf
  google_kubernetes_engine/variables.tf
  kubernetes_cluster/.terraform.lock.hcl
  kubernetes_cluster/main.tf
  kubernetes_cluster/outputs.tf
  kubernetes_cluster/providers.tf
  kubernetes_cluster/terraform.tf
Labels: terraform, provider, output

🔧 config: Add a claude instructions file for commits
  CLAUDE.md
Labels: project

🔧 config: Add a claude instructions file for commits
  CLAUDE.md
Labels: project

fix: argocd microservices applications
  argocd/infrastructure/istio/gateway/authorization-policies.yaml
  argocd/infrastructure/istio/gateway/gateway.yaml
  argocd/infrastructure/microservices/app-a/app-a.yaml
  argocd/infrastructure/microservices/app-b/app-b.yaml
  argocd/microservices-applications/.gitkeep
  argocd/microservices-applications/app-a.yaml
  argocd/microservices-applications/app-b.yaml
Labels: kubernetes, argocd, infrastructure, yaml

fix: argocd microservices applications
  argocd/infrastructure/istio/gateway/authorization-policies.yaml
  argocd/infrastructure/istio/gateway/gateway.yaml
  argocd/infrastructure/microservices/app-a/app-a.yaml
  argocd/infrastructure/microservices/app-b/app-b.yaml
  argocd/microservices-applications/.gitkeep
  argocd/microservices-applications/app-a.yaml
  argocd/microservices-applications/app-b.yaml
Labels: kubernetes, argocd, infrastructure, yaml
